/* =============================================================================
*
* Waybar configuration - Modern Style (Simplified)
*
* Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
*
* =========================================================================== */

@import 'themes/kanagawa_dragon.css'; 

/* -----------------------------------------------------------------------------
* Base styles
* -------------------------------------------------------------------------- */

* {
	border: none;
	border-radius: 0;
	font-family: 'Fira Code Regular', 'Nerd Font', 'Hack Nerd Font', 'UbuntuMono', monospace;
	font-feature-settings: 'cv02';
	font-feature-settings: 'cv30';
	font-feature-settings: 'ss03';
	font-feature-settings: 'cv16';
	font-feature-settings: 'cv18';
	font-feature-settings: 'ss04';
	font-feature-settings: 'ss05';
	font-feature-settings: 'zero';
	font-feature-settings: 'cv04';
	font-size: 16px;
	font-weight: 600;
	min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
	/*background: rgba(24, 22, 22, 0.5);*/
	background: rgba(18, 18, 15, 0.3);
/*	background: @black1;*/
  /*border-bottom: 1px solid @black4;*/
  border-bottom: 1px solid rgba(40, 39, 39, 0.3);
}

/* -----------------------------------------------------------------------------
* Tooltips
* -------------------------------------------------------------------------- */

tooltip {
	background: @background-primary;
	color: @text;
	border: 1px solid @border-color;
	border-radius: 8px;
	padding: 4px 6px;
}

tooltip label {
	color: @text;
	font-size: 12px;
}

/* -----------------------------------------------------------------------------
* Workspaces
* -------------------------------------------------------------------------- */

#workspaces {
	background: @background-primary;
	padding: 2px 1px;
	margin: 4px 2px;
	border-radius: 12px;
	border: 1px solid @border-color;
}

#workspaces button {
	padding: 0px 8px;
	margin: 1px 2px;
	background: @background-primary;
	color: @orange;
	border-radius: 8px;
	font-weight: bold;
	border: 1px solid @border-color;
}

#workspaces button:hover {
	background: @background-hover;
	color: @lavender;
	/*border-color: @mauve;*/
	box-shadow: none; /* Remove predefined box-shadow */
	text-shadow: none; /* Remove predefined text-shadow */
	background: none; /* Remove predefined background color (white) */
	transition: none; /* Disable predefined animations */
}

#workspaces button.active,
#workspaces button.focused {
	background: @carpyellow;
	color: @base;
	font-weight: bold;
	opacity: 1;
	border: 1px solid @orange;
	/*border-color: @pink;*/
}

#workspaces button.empty {
	opacity: 0.4;
	background: @background-secondary;
	color: @orange;
}
#workspaces button.focused {
	opacity: 1;
}

#workspaces button.urgent {
	background: @error;
	color: @base;
	border-color: @error-border;
}

/* -----------------------------------------------------------------------------
* Window title
* -------------------------------------------------------------------------- */

#window {
	background: @background-secondary;
	color: @text;
	padding: 8px 16px;
	border-radius: 12px;
	border: 1px solid @border-color;
	font-weight: 500;
}

/* -----------------------------------------------------------------------------
* Clock
* -------------------------------------------------------------------------- */

#clock {
	background: @teal;
	color: @base;
	font-weight: bold;
	margin: 0px 0px 0px 2px;
	padding: 0px 8px 0 0;
	border: 0px solid @teal;
	border-radius: 8px 4px 4px 8px;
	font-size: 15px;
}

/* -----------------------------------------------------------------------------
* System monitoring modules
* -------------------------------------------------------------------------- */

#cpu {
	background: @background-primary;
	color: @teal;
	border-left: 4px solid @teal;
	border-radius: 12px 0 0 12px;
	margin: 6px 0px 6px 0;
	padding: 4px 14px 4px 10px;
}

#cpu.critical {
	background: @error;
	color: @base;
	border-left: 4px solid @error-border;
}

#memory {
	background: @background-primary;
	color: @teal;
	border-left: 4px solid @teal;
	margin: 6px 0 6px 0;
	padding: 4px 13px 4px 10px;
}

#memory.critical {
	background: @error;
	color: @base;
	border-left: 4px solid @error-border;
}

#temperature {
	background: @background-primary;
	color: @teal;
	border-left: 4px solid @teal;
	border-radius: 0 12px 12px 0;
	margin: 6px 4px 6px 0;
	padding: 4px 12px 4px 10px;
}

#temperature.critical {
	background: @error;
	color: @base;
	border-left: 4px solid @error-border;
}

/* -----------------------------------------------------------------------------
* Battery
* -------------------------------------------------------------------------- */

#battery {
	background: @background-primary;
	color: @green;
	border-left: 4px solid @green;
	margin: 6px 2px 6px 0px;
	padding: 4px 12px;
	border-radius: 0px 12px 12px 0px;
}

#battery.charging {
	color: @green;
	border-left: 4px solid @green;
}

#battery.warning {
	background: @warning;
	color: @base;
	border-left: 4px solid @peach;
}

#battery.critical:not(.charging) {
	background: @error;
	color: @base;
	border-left: 4px solid @error-border;
}

/* -----------------------------------------------------------------------------
* Audio and Backlight
* -------------------------------------------------------------------------- */

#backlight {
	background: @background-primary;
	color: @yellow;
	border-left: 4px solid @yellow;
	border-radius: 12px 0 0 12px;
	margin: 6px 0 6px 2px;
	padding: 4px 12px;
}

#pulseaudio {
	background: @background-primary;
	color: @green;
	border-left: 4px solid @green;
	border-radius: 12px ;
	margin: 6px 4px 6px 0;
	padding: 4px 16px 4px 8px;
}

#pulseaudio.muted {
	color: @error;
	border-left: 4px solid @error;
}

/* -----------------------------------------------------------------------------
* Network
* -------------------------------------------------------------------------- */

#network {
	background: @background-primary;
	color: @green;
	border-left: 4px solid @green;
	margin: 6px 0px 6px 2px;
	padding: 4px 12px;
	border-radius: 12px 0px 0px 12px;
}

#network.disconnected {
	color: @error;
	border-left: 4px solid @error-border;
}

#network.disabled {
	color: @gray;
	border-left: 4px solid @gray;
}

/* -----------------------------------------------------------------------------
* Language
* -------------------------------------------------------------------------- */

#language {
	background: @background-primary;
	color: @mauve;
	border-left: 4px solid @mauve;
	margin: 6px 0 6px 2px;
	padding: 4px 12px;
	border-radius: 12px 0 0 12px;
}

#keyboard-state {
	background: @background-primary;
	color: @mauve;
	border-left: 4px solid @mauve;
	margin: 6px 2px 6px 0;
	padding: 4px 12px;
	border-radius: 0 12px 12px 0;
}

/* -----------------------------------------------------------------------------
* Custom modules
* -------------------------------------------------------------------------- */

#custom-notification {
	background: @background-primary;
	color: @carpyellow;
	border-left: 4px solid @carpyellow;
	margin: 6px 2px;
	padding: 4px 12px;
	border-radius: 12px;
}

#custom-power {
	background: @teal;
	color: @base;
	padding: 4px 6px 4px 10px;
	margin: 6px 2px 6px 2px;
	border-radius: 12px;
	font-size: 20px;
	border: 1px solid @border-color;
}

/* -----------------------------------------------------------------------------
* Tray
* -------------------------------------------------------------------------- */

#tray {
	background: @background-secondary;
	padding: 4px 10px;
	margin: 6px 8px 6px 2px;
	border-radius: 12px;
	border: 1px solid @border-color;
}

#tray > .passive {
	opacity: 0.7;
}

#tray > .needs-attention {
	background-color: @error;
	border-radius: 6px;
	color: @base;
}

/* -----------------------------------------------------------------------------
* Idle inhibitor
* -------------------------------------------------------------------------- */

#idle_inhibitor {
	background: @background-primary;
	color: @yellow;
	border-left: 4px solid @yellow;
	margin: 6px 2px;
	padding: 4px 12px;
	border-radius: 12px;
}

#idle_inhibitor.activated {
	background: @yellow;
	border-left: 4px solid @background-primary;
	color: @base;
}

#mode {
	background: @warning;
	color: @base;
	font-weight: bold;
	padding: 8px 16px;
	margin: 6px 8px;
	border-radius: 12px;
}

/* -----------------------------------------------------------------------------
* Hover effects
* -------------------------------------------------------------------------- */

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#custom-launcher:hover,
#custom-notification:hover,
#custom-weather:hover,
#custom-updates:hover,
#custom-vpn:hover,
#language:hover,
#custom-cava:hover {
	opacity: 0.8;
}

