show-failed-attempts
ignore-empty-password

indicator-idle-visible
indicator-radius=100
indicator-thickness=20

font=pango:Cantarell
font-size=10

image=/home/fretka/tools/backgrounds/hol3.jpg 
color=000000
inside-color=282525
inside-clear-color=282525
inside-ver-color=282525
inside-wrong-color=282525

ring-color=4d2b5a
ring-clear-color=6791e4
ring-ver-color=6791e4
ring-wrong-color=4d2b5a

indicator-caps-lock
disable-caps-lock-text
caps-lock-bs-hl-color=bc2b20
caps-lock-key-hl-color=bc2b20
inside-caps-lock-color=65231a
line-caps-lock-color=181616
ring-caps-lock-color=cb4634

bs-hl-color=8e44ad
key-hl-color=8e44ad
layout-bg-color=0000ff
layout-border-color=0000ff
bs-hl-color=8e44ad
separator-color=181616

line-color=181616
line-clear-color=181616
line-ver-color=181616
line-wrong-color=181616
line-clear-color=181616

text-color=ff0000
text-wrong-color=28252500
text-ver-color=28252500
text-clear-color=28252500
text-caps-lock-color=ff0000
